$reply--edge-padding: 4em;

.reply {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0 1em;
  margin: 1em 0 2em;
}

.reply--left {
  align-items: flex-start;
  padding-right: $reply--edge-padding;
}

.reply--right {
  align-items: flex-end;
  padding-left: $reply--edge-padding;
}

.reply__author {
  font-size: 0.75em;
}


.reply__meta {
  margin-top: 0;
  margin-bottom: 0.5em;
}
