@import 'colors';

.card {
  font-size: 1rem;
  padding: 1em;
  border: 1px solid;
  border-radius: 0.25em;
}

.card--default {
  border-color: color('grey-dark');
  background-color: color('white');
}

.card--primary {
  border-color: color('blue-dark');
  background-color: color('blue');
  color: color('white');
}

.card--secondary {
  border-color: color('grey-dark');
  background-color: color('grey');
}


.card--chat {
  padding: 0;
}
