@import 'colors';

// (1) - reset margin to 0 because of safari
.input {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.5em 1em;
  border: 1px solid color('grey-dark');
  margin: 0; // (1)

  &:focus {
    outline: 0;
    border-color: color('blue');
  }
}
