// scss-lint:disable ColorVariable
$colors: (
  'grey': #e9ebee,
  'grey-dark': #e0e0e0,
  'blue': #4080ff,
  'blue-dark': #2f67d5,
  'white': #fff,
);

@function color($color, $opacity: 1) {
  @return transparentize(map-get($colors, $color), 1 - $opacity);
}


@mixin color($color, $opacity: 1) {
  color: color($color, $opacity);
}

@mixin background-color($color, $opacity: 1) {
  background-color: color($color, $opacity);
}
