@import 'colors';

// (1) - reset margin to 0 because of safari
.btn {
  @include background-color('blue');
  @include color('white');
  font-size: 1rem;
  padding: 0.5em;
  border: 1px solid color('blue-dark');
  margin: 0; // (1)
}

.btn:hover {
  @include background-color('blue-dark');
  cursor: pointer;
}
